[defaults]

inventory=inventory.ini
remote_user=ec2-user
ansible_user=ec2-user
ansible_password=DevOps321
; forks=10         #means connects 5 servers at a time
#ask_vault_pass=true     

#everytime Ansible should ask PASSWORD
#private_key_file="/root/etc/ssh/ssh_host_rsa_key"


#create a file in where ansible installed server
#create a directory ==> cd /var
                        # mkdir expense
#ansible-vault create credentials_mysql.yaml

#set password
#Open credentilas_mysql.yaml file and put variables and passwords
            # mysql_root_password: ExpenseApp@1
            # mysql_hosted_zone: mysql.telugudevops.online
